<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group_2.Properties.Settings.SADM_2ConnectionString"
            connectionString="Data Source=dbcourse.database.windows.net;Initial Catalog=SADM_2;Persist Security Info=True;User ID=idandan@bgufbm.onmicrosoft.com;Authentication=Active Directory Password"
            providerName="System.Data.SqlClient" />
        <add name="Group_2.Properties.Settings.SADM_2ConnectionString1"
            connectionString="Data Source=DESKTOP-FOB25AJ\SQLEXPRESS;Initial Catalog=SADM_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>